.login-container{
    display: flex;
    justify-content: center;
    align-items:center !important;
    height: 100vh;
    background: var(--blue-light);
  }

  .form-container{
    padding: 1rem 2rem;   
     background: white;
  }

  .form{
    display:flex;
    flex-direction: column;
    width: 350px;
  }

  .form small{
    color:red;
  }